.enquiery {

    margin-bottom: 5%;

}

.enquiery > h1 {

    margin-left: 5%;

}

.enquiery .template {

    position: relative;

    height: 60vh;
    width: 70vw;
    margin-left: 10%;

    background: rgb(255, 255, 255);

    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.2);

    padding: 5%;

    border-radius: 6vw;

    display: flex;
    flex-direction: row;
    gap: 10vh;

    overflow: hidden;

}

.stripes {

    position: absolute;

    background-color: rgb(83, 83, 83);

    transform: translate(-50%, -50%) rotate(-45deg);

    z-index: 0;

    animation: glow 10s ease-in-out infinite;

}

#stripes1 {

    height: 10vw;
    width: 150vw;

    left: 10vw;
    top: 10vw;

}

#stripes2 {

    height: 20vw;
    width: 150vw;

    left: 35vw;
    top: 20vw;

}

#stripes3 {

    height: 10vw;
    width: 150vw;

    left: 75vw;
    top: 15vw;

}

.submit {

    position: absolute;
    
    height: 10vw;
    width: 30vw;

    left: 77.5vw;
    top: 72.5vh;

    transform: translate(-50%, -50%) rotate(-45deg);

    background-color: green;

    transition: all ease-in-out .5s;
    z-index: 1;

}

.submit h1 {

    position: absolute;
    transform: translate(0, 0);

    width: 100%;
    height: 100%;

    top: 10%;
    left: 0;

    margin: 0;
    padding-top: 2%;
    text-align: center;

    color: white;

    font-size: 1.5vw;

}

.submit:hover {

    left: 76.5vw;
    top: 71.5vh;

}

.submit:hover h1 {

    animation: invis .25s linear 1, whoosh 2s linear infinite .25s;
    top: 12.5%;
}

@keyframes invis {
    0% {
        opacity: 1;
        top: 10%;
    }
    100% {
        opacity: 0;
        top: 12.5%;
    }
}

@keyframes whoosh {

    0% {
        left: -40%;
    }
    100% {
        left: 40%;
    }

}


@keyframes glow {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: .2;
    }
}